body{}
 .logo img{
        width:40%;
    }
.login_title .nav-tabs li{width:50%;}
.logo{text-align:center;}
.login_item{text-align:center;}
.form_login{width:60%;margin:0 auto;}
.form_login .form-control{margin-bottom:10px;}
.login_text{color:#A9A9A9;margin-top:10px;}
.bt_login_fb a{color:white;}
.bt_login_fb{width:60%;margin:0 auto;background-color:#556FAC;padding:10px;}
.bt_login{width:60%;margin:0 auto;background-color:#014F73;padding:10px;}
.bt_login a{color:white;font-weight:700;}
.modalLogin-header .close{top:-20px;right:-20px;float:right;font-size:39px;font-weight:normal;line-height:1;text-shadow:0 1px 0 #fff;color:#636363;opacity:1;width:40px;height:40px;border-radius:50%;background:#fff;position:absolute;z-index:2;}
.modalLogin-header .icon_close{line-height:40px;font-size:30px;font-style:normal;position:relative;text-align:center;top:-4px;left:0;}
.login_title .nav-tabs li>a{background-color:#e4e4e4;color:#636363;text-align:center;font-size:15px;margin:0;border-radius:0;}

.login_title .nav-tabs li.active a, .login_title .nav-tabs li.active a:hover, .login_title .nav-tabs li.active a:focus{border:1px solid #ffffff;background-color:#ffffff;color:#004e72;margin:0;}
#modalLogin{
    text-align:center;
}
.modal-dialog{
    display:inline-block;
    vertical-align:middle;
    text-align:left;
}
.modal:before{
        content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}
@media(max-width:767px){
    .bt_login_fb{
        width:100%;
    }
    .form_login{
        width:100%;
    }
    .bt_login{
        width:100%;
    }
    .logo img{
        width:75%;
    }
}



