.policy > h1 {
    margin: 25px 0 5px 0;
    text-align: center;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 40px;
    color: #333;
    font-style: italic;
    padding: 0 15px;
}

.policy {
    border-top: 15px solid #111;
    margin: 45px 0 0 0;
}
